.chechout-area {
  width: 100%;
  margin-top: 50px;
}

.calculate-checkout {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 30px;
  margin-top: 20px;
}

.calculate-checkout-heading p {
  color: #828282;
}

.calculate-checkout-detail {
  padding-top: 20px;
}

.calculate-checkout-heading,
.calculate-checkout-detail {
  border-bottom: 1px solid #cecece;
}

.checkout-btn {
  float: right;
  margin-top: 40px;
  border: none;
  background-color: #6946f4;
  padding: 15px 25px;
  border-radius: 10px;
  color: #fff;
}
